/Programa 1/nbproject/private/
/Programa 1/build/
/Programa 6 palabras numeros y exp/build/
/Programa 6 palabras numeros y exp/nbproject/private/
/Programa 7 Boole/build/
/Programa 7 Boole/nbproject/private/